@import url('https://fonts.googleapis.com/css?family=Special Elite');
body{
    background-image: url("pastwork/Fire Bird.jpg");
    background-size: 100%;
    background-position: top;
    background-repeat: repeat-y;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'special elite', serif;
}
section{
	z-index: 1000;
    nav{
		width: 100%;
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: black
	}
	.logo {
		display: flex;
		margin-left: 25px;
		align-items: center;
	}
	.logo img{
		width: 40px;
	}
	.logo h1{
		color: lightgray;
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
	}
	.nav-links{
		display: flex;
		margin-right: 25px;
		align-items: center;
		list-style: none;
	}
	.nav-links a {
		display: block;
		text-decoration: none;
		font-size: 20px;
		color: lightgray;
		padding: 10px 16px;
		transition: all ease-in-out 100ms;
	}
	.nav-links a: hover {
		text-decoration: underline;
		colour: lightgray;
	}
	.hamburger{
		display: none;
		cursor: pointer;
		width: 34px;
	}
	.hamburger .bar {
		flex-basis: 100%;
		height: 4px;
		background-color: lightgray;
		margin: 3px;
	}
	/* responsive design */
	@media (max-width: 768px) {
	nav{
		flex-wrap: wrap;
	}
	.hamburger{
		display: flex;
		flex-wrap: wrap;
	}
	.logo{
		height: 80px;
	}
	.nav-links{
		display: none;
		flex-basis: 100%;
		flex-wrap: wrap;
	}
	.nav-links li {
		flex-basis: 100%;
	}
	.nav-links a {
		text-align: center;
		font-size: 28px;
	}
	.nav-links a:hover{
		background-color: green;
	}		
}
}
.contact-form-container {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 50%;
    margin-top: 70px;
}
h2 {
    margin-top: 0;
    color: black;
    text-align: center;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.8rem;
    font-weight: bold;
    color: black;
}
input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    color: black;
    font-family: 'special elite', serif;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
}
textarea {
    resize: vertical;
}
.error-message {
    color: red;
    font-size: 0.875rem;
    display: none; /* Hidden by default */
}
.submit-button {
    background-color: #FF7518;
    color: white;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    font-family: 'special elite', serif;
}
.submit-button:hover {
    background-color: #FFA500;
}
.button-container2{
    display: flex;
    justify-content: space-evenly;
}
h4{
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}
hr{
    border-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}
footer{
    margin-top: auto;
    text-align: center;
    color: white;
}
