@import url('https://fonts.googleapis.com/css?family=Special Elite');
body{
	background-color: black;
	color: lightgray;
	margin: 0;
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'special elite', serif;
		@media (max-width: 768px) {
			body{
				font-size: 18px;}
    }
}
section{
	z-index: 1000;
	height: 64px;
	nav{
		width: 100%;
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: black
	}
	.logo {
		margin-left: 25px;
		display: flex;
		align-items: center;
	}
	.logo img{
		width: 40px;
	}
	.logo h1{
		color: lightgray;
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
	}
	.nav-links{
		margin-right: 25px;
		display: flex;
		align-items: center;
		list-style: none;
	}
	.nav-links a {
		display: block;
		text-decoration: none;
		font-size: 20px;
		color: lightgray;
		padding: 30px 16px;
		transition: all ease-in-out 100ms;
	}
	.nav-links a:hover {
		text-decoration: underline;
		colour: lightgray;
	}
	.hamburger{
		display: none;
		cursor: pointer;
		width: 34px;
	}
	.hamburger .bar {
		flex-basis: 100%;
		height: 4px;
		background-color: lightgray;
		margin: 3px;
	}
	/* responsive design */
	@media (max-width: 768px) {
	nav{
		flex-wrap: wrap;
	}
	.hamburger{
		display: flex;
		flex-wrap: wrap;
	}
	.logo{
		height: 80px;
	}
	.nav-links{
		display: none;
		flex-basis: 100%;
		flex-wrap: wrap;
	}
	.nav-links li {
		flex-basis: 100%;
	}
	.nav-links a {
		text-align: center;
		font-size: 28px;
	}
	.nav-links a:hover{
		background-color: green;
	}		
}
}
h4{
	font-size: 25px;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-top: 30px;
}
hr{
	margin-bottom: 20px;
}
section2{
	h2{
	font-size: 65px;
	font-weight: bold;
	color: black;
	text-align: center;
	padding-top: 140px;
	margin-bottom: 0px;
}
	hr{ margin-left: 450px;
		margin-right: 450px;
		border-color: black;
	}
	h3{
	font-size: 30px;
	font-weight: bold;
	color: black;
	text-align: center;
	font-style: italic;
	padding-bottom: 150px;
	margin-top: 15px;
}
}
section3 {
	body {margin:0}
.carousel {display: none}
img {vertical-align: middle}
.carousel-container {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden; /* Hides slides outside the container */
}
.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 60%; /* Each slide takes up 60% of container */
  height: 600px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  opacity: 0.5; /* Fade out side slides */
  transform: scale(0.8); /* Shrink side slides */
  transition: all 0.5s ease;
}
.slide.active {
  opacity: 1;
  transform: scale(1); /* Scale up current slide */
  background-color: black;
  color: black;
}
/* Nav Buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: lightgray;
  border: none;
  padding: 16px;
  cursor: pointer;
}
.prev { left: 0; }
.next { right: 0; }
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev: hover, .next: hover {
  background-color: rgba(0,0,0,0.8);
}
.text1 {
  color: lightgrey;
  font-weight: bold;
  font-style: italic;
  padding-left: 20px;
  font-size: 20px;
  position: left;
  left: 20px;
  bottom: -50px;
  width: 100%;
  text-align: justify-content;
}
.text2 {
	color: lightgrey;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  position: left;
  left: 20px;
  bottom: -50px;
  width: 100%;
  text-align: justify-content;
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
}
h5{
	font-size: 25px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 40px;
	margin-bottom: 20px;
}
hr{
	border-color: lightgray;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}
h6{
font-size: 35px;
font-weight: 400;
margin-bottom: 30px;
margin-top: 30px;
}
p1{
font-size: 15px;
font-style: italic;
}
p2{
font-size: 17px;
line-height: 25px;
}
.button-container2{
	display: flex;
	justify-content: space-evenly;
}
h7{
	font-size: 25px;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-top: 30px;
	font-weight: bold;
}
hr{
	margin-bottom: 20px;
}
footer{
	margin-top: auto;
	text-align: center;
	color: lightgray;
}
