@import url('https://fonts.googleapis.com/css?family=Special Elite');
body{
	background-color: black;
	color: lightgray;
	margin: 0;
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'special elite', serif;
}
section{
	z-index: 1000; 
	nav{
		width: 100%; 
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: black
	}
	.logo {
		display: flex;
		margin-left: 25px;
		align-items: center;
	}
	.logo img{
		width: 40px;
	}
	.logo h1{
		color: lightgray;
		text-decoration: none;
		font-weight: bold;
		font-size: 20px;
	}
	.nav-links{
		display: flex;
		margin-right: 25px;
		align-items: center;
		list-style: none;
	}
	.nav-links a {
		display: block;
		text-decoration: none;
		font-size: 20px;
		color: lightgray;
		padding: 10px 16px;
		transition: all ease-in-out 100ms;
	}
	.nav-links a: hover {
		text-decoration: underline;
		colour: lightgray;
	}
	.hamburger{
		display: none;
		cursor: pointer;
		width: 34px;
	}
	.hamburger .bar {
		flex-basis: 100%;
		height: 4px;
		background-color: lightgray;
		margin: 3px;
	}
	/* responsive design */
	@media (max-width: 768px) {
	nav{
		flex-wrap: wrap;
	}
	.hamburger{
		display: flex;
		flex-wrap: wrap;
	}
	.logo{
		height: 80px;
	}
	.nav-links{
		display: none;
		flex-basis: 100%;
		flex-wrap: wrap;
	}
	.nav-links li {
		flex-basis: 100%;
	}
	.nav-links a {
		text-align: center;
		font-size: 28px;
	}
	.nav-links a:hover{
		background-color: green;
	}		
}
}
h2{
	font-size: 25px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 70px;
	margin-bottom: 20px;
}
hr{
	border-color: lightgray;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 0px;
}
section3 {
h3 {
	font-size: 20px;
	font-weight: bold;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}}
section4 {
	display: flex;
	flex-direction: row;
.button-container{
	padding-left: 50px;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
}
.text-block {
	font-size: 18px;
	font-weight: 300px;
	margin-bottom: 20px;
	margin-right: 50px;
	h4 {
	font-size: 18px;
	font-weight: bold;
	margin-top: 90px;
	margin-bottom: 20px;
	font-style: italic;
	}
	p { line-height:25px;
	}
}
}
section5 {
	display: flex;
	flex-direction: row-reverse;
.button-container {
	padding-left: 50px;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
}
.text-block {
	font-size: 18px;
	font-weight: 300px;
	margin-left: 50px;
	margin-bottom: 20px;
	h4 {
		font-size: 18px;
		margin-top: 90px; 
		font-weight: bold;
		font-style: italic;
	}
	p {
		line-height: 25px;
	}
}
}
section6 { 
	display: flex;
	flex-direction: row;
.button-container {
	padding-left: 50px;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
}
.text-block {
	font-size: 18px;
	font-weight: 300px;
	margin-bottom: 20px;
	margin-right: 50px;
}
	h4 {
		line-height: 25px;
		font-size: 20px;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 20px;
		font-style: italic;
	}
	p {
		line-height: 25px;
	}
	p2{
		line-height: 25px;
	}
}
section7 {
	display: flex;
	flex-direction: row-reverse;
.button-container {
	padding-left: 50px;
	padding-top: 20px;
	padding-right: 50px;
	padding-bottom: 20px;
}
.text-block {
	font-size: 18px;
	font-weight: 300px;
	margin-left: 50px;
	margin-bottom: 125px;
}
	h4 {
		line-height: 25px;
		font-size: 18px;
		font-weight: bold;
		margin-top: 90px;
		font-style: italic;
	}
	p {
		line-height: 25px;
	}
}
.button-container2{
	display: flex;
	justify-content: space-evenly;
}
h7{
	font-size: 25px;
	font-weight: bold;
	margin-left: 30px;
	margin-bottom: 20px;
	margin-top: 30px;
}
hr{
	margin-bottom: 20px;
}
footer{
	margin-top: auto;
	text-align: center;
	color: lightgray;
}
